:root {
  --primary-color: #5c8d89;
  --secondary-color: #74b49b;
  --third-color: #a7d7c5;
  --body-color: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  --hero-color: #f2f3f7;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --primary-font-family: Georgia, "Times New Roman", Times, serif;
  --secondary-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}
body {
  background-color: var(--body-color);
  font-family: var(--primary-font-family);
}
.navbar {
  background-color: var(--hero-color);
}
.navbar-brand {
  color: var(--primary-color);
  font-weight: bold;
}
.nav-item a {
  color: var(--primary-color);
}
.navbar .navbar-nav .nav-link.active {
  color: var(--primary-color);
}
.active {
  color: var(--primary-color);
  font-weight: bold;
}
.hero {
  background-color: var(--hero-color);
  margin: 5px 50px;
  padding: 20px 10px;
  border-radius: 5px;
  display: block;
}
h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 20px;
}
p {
  text-align: center;
  padding: 10px 50px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
  font-size: 24px;
}
h1 {
  font-size: 58px;
}
h2 {
  font-size: 42px;
  padding-top: 100px;
}
h3 {
  font-size: 34px;
}
#images-leather-jacket {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.about-button-container {
  text-align: center;
}
.about-button {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px 15px;
  background-color: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  border-radius: 5px;
}
