:root {
  --primary-color: #3b4706;
  --secondary-color: ;
  --third-color: ;
  --hero-color: #e6f2e8;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --primary-font-family: ;
  --secondary-font-family: ;
}
.hero {
  background-color: var(--hero-color);
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 5px;
  display: block;
}
h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
}
h1 {
  font-size: 58px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 34px;
}
